<body>
  <div class="left">

    <p class="pb-4"></p>
    <div class="pt-3 pic m-auto"></div>

    <div class="bubbleContainer my-2 text-center">
      <span class="bookmark float-left pl-3 font-weight-bold">
        Buy Now
        <i class="fas fa-shopping-cart"></i>
      </span>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <span class="bookmark float-right pr-5 font-weight-bold">
        Save
        <i class="fas fa-bookmark"></i>
        <!-- ngif set up here-->
        <!-- <i class="fas fa-check-square"></i> -->
        <!-- END OF ngif-->
      </span>
    </div>

    <div class="title text-center bgcolor mt-4">
      <span class="heading main bgcolor text-center">{{card.product}} {{card.price}}</span>
    </div>
    <div class="text-center sellerName bgcolor">
      <span class="heading">
        Seller Name
      </span>
      Jonnyst3s
    </div>
    <div class="text-center sellerStars bgcolor">
      <span class="heading">
        Stars
      </span>
      <span class="main">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </span>
      out of 5
    </div>
    <div class="text-center sellerInfo bgcolor">Jonny Join Ezshop
      <span class="heading">Since Febuary 2012</span></div>


  </div>
  <!-- leaving left now moving to right -->
  <div class="right">
    <div class="summary pt-3">
      <p class="title text-center display-4">
        <span class="heading">Quick Summary </span>
        <span class="linkToFullSummary"> Full Summary Here
          <i class="fas fa-info-circle"></i>
        </span>
      </p>

      <!-- I but lorem here so I closed it since it long -->
      <p class="bgcolor">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas delectus ipsam tempore eveniet et doloribus,
        est sint esse maxime assumenda deserunt iste cumque animi, blanditiis sapiente dolorem culpa labore doloremque
        hic officia ex dolor nisi pariatur enim? Facilis quibusdam inventore qui sit blanditiis voluptate? Facere quia
        aut nam natus ea quas minus eos dolore animi commodi, hic dolorum sint unde?
      </p>
      <!-- end of lorem Paragraph -->

    </div>



    <div class="reviews px-5 pt-2">
      <p class="title text-center display-4">
        <span class="heading bookmark">
          Customer Reviews
          <i class="fas fa-book-reader"></i>
        </span>
      </p>
      
      <!-- this is a whole comment all parts -->
      <div class="text-left sellerName bgcolor">
        <span class="font-weight-bold">Customer Review </span>
        <span>Fonsyst311</span>

        <span class="px-3 font-weight-bold">
          Stars
          <span class="main">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </span>
          <span class="font-weight-normal"> out of 5</span>
        </span>
        <!-- I but lorem here so I closed it since it long -->
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum, deserunt iste, corporis vitae
          explicabo dolorem qui adipisci expedita dicta assumenda. Iste illo eum voluptatum necessitatibus expedita
          impedit vero aspernatur, earum tenetur numquam repudiandae, atque pariatur quae! Eius est, sunt non dolores ex
          veritatis, qui velit beatae illo sapiente asperiores nisi debitis dolorem incidunt pariatur suscipit corporis
          quaerat molestiae quisquam? Ut sint ducimus, eum velit magnam totam consectetur quos! Ad commodi eaque iste
          ipsa repudiandae nemo alias in totam. Veritatis nisi nulla neque quaerat quis facere vel laboriosam ullam
          odio, sunt minus a magni aut commodi minima possimus suscipit maxime. Quod laborum mollitia numquam debitis
          autem fuga, quisquam error, magni fugiat quia ut placeat ipsa dicta id, unde fugit est cupiditate
          necessitatibus. Ipsa, quas aliquid pariatur totam voluptatem sint. Pariatur dicta non itaque aperiam, ex
          corporis
        </p>
        <hr>
        <!-- end of lorem Paragraph -->
      </div>
      <!-- END OF whole comment all parts -->

    </div>
  </div>
</body>
