
<nav class="navbar navbar-expand-lg navbar-dark bg-dark change">
    <a class="navbar-brand" href="#">
      <i class="fas fa-shopping-bag"></i> Ezshop
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="addproduct">Recent Orders</a>
              <a class="dropdown-item" href="#">Returns</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Upgrade to Platinum</a>
            </div>
          </li>

        <li class="nav-item">
          <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Trending</a>
        </li>

       

 
        
      </ul>
      <li class="navbar nav-item ">
        <a style="color:rgb(255, 255, 255)" routerLink="addproduct" class="nav-link" href="#" tabindex="-1" aria-disabled="true">Go to Cart</a>
      </li>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

  </nav>