<body>
    <h1 class="mx-auto">Product Summary</h1>

    <!-- summary container -->
    <div class="jumbotron">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dolorem facere aliquam minima harum nisi, eum iure itaque mollitia neque porro magni dolore modi impedit tempore illo corporis labore aut vel eligendi deserunt molestias? Vitae iste, expedita saepe vero ipsum ad, perspiciatis quas voluptatibus ipsa laborum mollitia natus, porro officia.</p>
    </div>
    <button type="button" class="btn btn-info btn-lg">Go Back</button>
</body>

